body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  height: 400px;
  width: 400px;
}

.screen {
  width: 400px;
  height: 50px;
  text-align: end;
  background: gray;
  color: #fff;
}

.screen p {
  padding: 17px;
  color: #fff;
}

.btn {
  width: 25%;
  height: 20%;
  cursor: pointer;
  border: 1px solid #e8dddd;
}

.num.zero {
  width: 50%;
}

.oper {
  background-color: orange;
}
