body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
}

.app {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  height: 400px;
  width: 400px;
}

.screen {
  width: 400px;
  height: 50px;
  text-align: end;
  background: gray;
  color: #fff;
}

.screen p {
  padding: 17px;
  color: #fff;
}

.btn {
  width: 25%;
  height: 20%;
  cursor: pointer;
  border: 1px solid #e8dddd;
}

.num.zero {
  width: 50%;
}

.oper {
  background-color: orange;
}

.logo {
  color: red;
  font-size: 24px;
  font-family: bold;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 20px;
  font-size: 18px;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-bar ul li {
  color: black;
  font-size: 16px;
}

.home-page {
  width: 80%;
  margin: 40px auto;
}

.home-page p {
  font-size: 20px;
  padding-left: 15px;
}

.quote {
  min-height: 80vh;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
